#game-page {
    display: flex;
    flex-direction: row;
    padding: 15px;
}

#left-game {
    width: 30%;
}

#left-game h2 {
    font-weight: bold;
}

#right-game {
    width: 65%;
    border: 2px #000 solid;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.back-btn {
    padding: 5px;
    color: gray;
    background-color: yellow;
    border-radius: 3px;
}

.ready-btn {
    background-color: #999999;
    color: #333333;
    padding: 20px 30px;
    border-radius: 7px;
}

.users-container {
    display: flex;
    flex-direction: column;
}

.users-container h4 {
    display: inline-block;
    background-color: #FFF;
}

.users-container span {
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.green {
    background-color: green;
}

.red {
    background-color: red;
}

.progress {
    width: 90%;
    height: 20px;
    border: 1px gray solid;
}

.game-zone {
    width: 100%;
    height: 100%;
    padding: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game-timer {
    position: absolute;
    right: 10px;
    top: 10px;
}

.game-text-container {
    display: flex;
    flex-wrap: wrap;
}

#right-game span {
    display: inline-block;
}

.next {
    text-decoration: underline;
}

.finished {
    background-color: green;
}

.user-progress {
    width: 0%;
    height: 100%;
    background-color: green;
}
